* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-color: #FFFFFF;
  --text-color: #323238;
  --icon-color: #323238;
  --icon-color-selected: #FFFFFF;
  --icon-bg-color:#E1E1E6;
  --icon-bg-color-selected: #02799D;
  --icon-bg-color-hover: #babacd;
  --button-color: #323238;
  --button-color-hover: #727281;
  --main-bg-color: #F3F3F3;
  --height-low: 11.2rem;
  --height-high: 15.2rem;
  --background-image: none;
  --svg-fill: black;
  --font-family:'roboto', sans serif;
  
}

body {
  background-image: var(--background-image);
  background-color: var(--bg-color);
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.blend {
  opacity: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 110rem;
  height: 46rem;
  border-radius: 24px;
  gap: clamp(10rem, 20vw, 19.2rem);
  background-color: var(--main-bg-color);
}


.lightmode {
  position: absolute;
  justify-self: right;
  margin: 0 6.4rem;
  top: 6.4rem;
  max-width: 4.4rem;
  max-height: 4.4rem;
}

.nightmode {
  position: absolute;
  justify-self: right;
  margin: 0 6.4rem;
  top: 6.4rem;
  max-width: 4.4rem;
  max-height: 4.4rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.timer span {
  display: table-cell;
  color: var(--text-color);
  font-size: clamp(15rem, 16vw, 20rem);
  font-family: var(--font-family);
}

.bgrain, .bgcoffee, .bgfireplace, .bgforest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: var(--icon-bg-color);
  border-radius: 24px;
  height: var(--height-high);
}

.forest-range, .coffee-range, .rain-range, .fireplace-range {
  max-width: 9rem;
  appearance: none;
  background: #d3d3d3;
  width: 9rem;
  height: 0.4rem;
  margin-top: 1rem;
  justify-content: center;
}

.sounds {
  display: grid;
  gap: 6rem 3.2rem;
  grid-template-columns: 15.4rem 15.4rem;
  grid-template-rows: 11.3rem 11.3rem;
  
}

.sounds button {
  min-width: clamp(1rem, 15.2rem, 20rem);
  border-radius: 24px;
  height: var(--height-high);
}

.sounds button:active {
  transform: scale(0.9);
  background-color: var(--icon-bg-color-selected);
}

.sounds .selected button  {
  height: var(--height-low);
}

.sounds .selected {
  background-color: var(--icon-bg-color-selected);
}

.sounds .selected svg path {
  fill: var(--icon-color-selected);
}

.sounds svg path {
  fill: var(--icon-color);
}

.controls {
  display: flex;
  margin-bottom: 0.1rem;
  align-items: flex-start;
  justify-content: space-evenly;
}

.controls .hide, body .hide {
  display: none;
}

.controls button svg path {
  fill: var(--button-color);
}

.controls button:hover svg path{
  fill: var(--button-color-hover);
}

.lightmode svg path{
  fill: var(--svg-fill);
}

.controls button:active svg {
  transform: scale(0.9);
}

.ship {
  position: absolute;
  width: 3rem;
  animation: 2s floating 2s alternate infinite;
}

footer .selected {
  position: absolute;
  animation: 3s flying;
}

@keyframes floating {
  from {
    margin-top:0rem;
  }
  to {
    margin-top: 0.3rem;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flying {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(45deg);
    width: 650rem;
    margin-left: -260rem;
    margin-top: -190rem;
    align-items: center;
    z-index: 2;
  }
  100% {
    transform: rotate(45deg);
    width: 650rem;
    margin-left: 0rem;
    margin-top: -300rem;
    align-items: center;
    z-index: 2;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}

@media (max-width: 900px) {
  body, main {
      align-items: center;
      align-self: center;
      justify-self: center;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      min-width: 38rem;
      min-height: 80rem;
    }
    main {
      height: 90rem;
      gap: 0;
      justify-content:space-evenly;
    }

    .ship {
      display: none;
    }
    
    .lightmode, .nightmode {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-self:center;
    }

    .sounds {
      gap: clamp(2rem, 16vw, 5rem) 
    }

    .timer span {
      display: table-cell;
      text-align: center;
      font-size: 14rem;
      text-align: center;
    }
    
    .controls {
      width: 37rem;
    }
}